body{
    background-color: bisque;
    margin: 0%;
    padding: 0%;
}

.kapsa{
    width: 900px;
    margin: 20px auto;
    border: 2px solid black;
}

.header{
    padding: 30px;
}

.header h2{
    background-color: coral;
    width: 400px;
    border: 2px solid orange;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
}

.ust_menu{
    background-color: gainsboro;
    height: 40px;
}

.ust_menu ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.ust_menu ul li{
    float: left;
}

.ust_menu ul li a{
    display: block;
    height: 40px;
    width: 150px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 18px;
    text-decoration: none;

}

.ust_menu ul li a:hover{
    color: crimson;
}

.ara{
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
}

.ara button{
    width: 60px;
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.icerik {
    background-color: white;
    height: 1000px;
}

.soltaraf{
    width: 600px;
    line-height: 30px;
    text-align: justify;
    float: left;
}

.soltaraf h2{
    padding-left: 15px;
    width: 600px;
    border-bottom: 2px dashed black;
    float: left;
}

.soltaraf p img{
    width: 35%;
    float: left;
}

.sagtaraf{
    padding-top: 30px;
    width: 250px;
    margin-left: 30px;
    float: left;
}

.sagtaraf h3{
    background-color: darkgray;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.sagtaraf ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.sagtaraf ul li{
    height: 40px;
    padding-left: 10px;
    background-color: wheat;
    padding-top: 10px;
    border-bottom: 1px solid black;
}